<header class="bg-gray-900 text-amber-50 shadow-md">
    <nav class="container mx-auto px-6 py-4 flex justify-between items-center">
        <h1 class="text-xl font-bold tracking-tight">Gala<span class="text-amber-600">News</span></h1>
        <ul class="flex space-x-6 text-sm font-medium">
            <li class="hover:text-amber-600 transition"><a routerLink="">Início</a></li>
            <li class="hover:text-amber-600 transition"><a routerLink="tutoriais">Tutoriais</a></li>
            <li class="hover:text-amber-600 transition"><a routerLink="documentacao">Documentação</a></li>
            <li class="hover:text-amber-600 transition"><a routerLink="sobre">Sobre</a></li>
        </ul>
    </nav>
</header>